<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myClientLabel">Create a Admin</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.admin.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   ng-model="vm.admin.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_name">Nom : </label>
            <input type="text" class="form-control" name="name" id="field_name"
                   ng-model="vm.admin.nom"
                   />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_birthDay">Prenom:</label>
            <input type="text" class="form-control" name="birthDay" id="field_birthDay"
                   ng-model="vm.admin.prenom"
                   />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_sexe">Login :</label>
            <input type="text" class="form-control" name="login" id="field_login"
                   ng-model="vm.admin.login"
                   />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_sexe">Mot de Passe :</label>
            <input type="password" class="form-control" name="password" id="field_password"
                   ng-model="vm.admin.motPasse"
                   />
        </div>

        <div class="form-group">
            <label class="control-label" for="field_sexe">Email :</label>
            <input type="text" class="form-control" name="sexe" id="field_sexe"
                   ng-model="vm.admin.email"
                   />
        </div>
        
         <div class="form-group">
            <label class="control-label" for="field_phone">Telephone :</label>
            <input type="text" class="form-control" name="phone" id="field_phone"
                   ng-model="vm.admin.telephone"
                   />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_sexe">Ville :</label>
            <input type="text" class="form-control" name="sexe" id="field_sexe"
                   ng-model="vm.admin.ville"
                   />
        </div>
             
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
