

<footer id="footer" class="footer-container">
    <div class="container">
        <div class="row ApRow " style="" >

            <!--            prmière colone-->

            <div class="space-padding-top-60 col-lg-2-4 col-md-3 col-sm-12 col-xs-12 col-sp-12 ApColumn " >
                <div class="ApHtml block">
                    <h4 class="title_block">Nous contacter</h4>
                    <div class="block_content">
                        <div style="text-align: left;">
                            <span>hello@vnac.gmail </span>
                        </div>
                        <div style="text-align: left;">
                            <span>+237 6 80 35 15 35 </span><br />
                            <span>Maroua, CAMEROUN</span>
                        </div>
                    </div>
                </div>
                <div id="social_block" class="block">
                    <h4 class="title_block">Trouvez-nous sur</h4>
                    <ul>
                        <li class="facebook"> 
                            <a class="_blank" href="https://www.facebook.com/vnac.com/"> <span>Facebook</span> </a>
                        </li>
                        <li class="instagram"> 
                            <a class="_blank" href="https://www.instagram.com/vnac.com/"> <span>Instagram</span> </a>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>

            </div>

            <!--deuxième colone-->

            <div class="space-padding-top-60 col-lg-2-4 col-md-2 col-sm-4 col-xs-12 col-sp-12 ApColumn " >
                <div id="blockLink-form_22325150203507765" class="ApBlockLink">
                    <div class="footer-block block">
                        <h4 class="title_block">VNAC</h4>
                        <ul class="toggle-footer list-group bullet">
                            <li><a href="content/7-lilm-des-objets-de-createurs-et-d-artisans-d-art.html">À propos</a></li>
                            <li><a href="vendre-sur-lilm.html">Vendre sur VNAC</a></li>
                            <li><a href="content/3-conditions-generales-utilisation.html">CGU</a></li>
                            <li><a href="plan-site.html">Plan de site </a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!--troixième colone-->

            <div class="space-padding-top-60 col-lg-2-4 col-md-2 col-sm-4 col-xs-12 col-sp-12 ApColumn " >
                <div id="blockLink-form_3966497440335303" class="ApBlockLink">
                    <div class="footer-block block">
                        <h4 class="title_block">Service client</h4>
                        <ul class="toggle-footer list-group bullet">
                            <li><a href="nous-contacter.html">Contactez-nous</a></li>
                            <li><a href="content/3-conditions-generales-utilisation.html">Livraison</a></li>
                            <li><a href="content/9-faq.html">FAQ</a></li>
                            <li><a href="commande-13/sur-mesure.html">Commande sur-mesure</a></li>
                            <li><a href="produit-15/sur-mesure.html">produit sur-mesure</a></li>
                        </ul>
                    </div>
                </div>         
            </div>

            <!--  quatrième colone-->

            <div class="space-padding-top-60 col-lg-4-8 col-md-3 col-sm-12 col-xs-12 col-sp-12 ApColumn " >
                <div id="newsletter_block_left" class="block inline row">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ">
                        <h4 class="title_block">Enregistrez-vous pour recevoir le bulletin d'informations</h4>
                    </div>
                    <div class="block_content col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        <p class="new-des">Abonnez-vous pour les dernières histoires et les promotions</p>
                        <form action="http://lilm.co/fr/" method="post">
                            <div class="form-group" > 
                                <input class="inputNew form-control grey newsletter-input" id="newsletter-input" type="text" name="email" size="18" value="Saisissez votre adresse e-mail" /> 
                                <button type="submit" name="submitNewsletter" class="btn button button-small"> Abonnez-vous </button> 
                                <input type="hidden" name="action" value="0" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row ApRow " style="" >
            <div class="space-padding-top-14 col-lg-2 col-md-3 col-sm-12 col-xs-12 col-sp-12 ApColumn " >
                <div class="ApHtml block">
                    <div class="block_content">
                        <div style="text-align: left; font-size: 12px;">Copyright © 2016 LILM</div>
                    </div>
                </div>
            </div>
<!--            <div class="space-padding-top-12 col-lg-4 col-md-2 col-sm-4 col-xs-12 col-sp-12 ApColumn " >
                <div class="ApHtml block">
                    <div class="block_content">
                        <div style="text-align: center;">
                            <img src="../img/cms/paypal2_1.png" width="55" height="41" />
                            <img src="../img/cms/visa3.png" width="55" height="41" />
                            <img src="../img/cms/mastercard2.png" width="55" height="41" />
                            <img src="../img/cms/maestro2.png" width="55" height="41" />
                            <img src="../img/cms/american-express2.png" width="55" height="41" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="space-padding-top-10 col-lg-6 col-md-3 col-sm-12 col-xs-12 col-sp-12 ApColumn " >
                <div class="ApHtml block">
                    <div class="block_content">
                        <div style="text-align: right;">
                            <img src="../img/cms/colissimo-nb.png" width="80" height="46" />
                            <img src="../img/cms/tnt-nb.png" width="80" height="46" /> 
                            <img src="../img/cms/dhl-nb.png" width="80" height="46" />
                            <img src="../img/cms/ups-nb.png" width="80" height="46" />
                            <img src="../img/cms/mondial-relais-nb.png" width="80" height="46" />
                            <img src="../img/cms/guisnel-nb_1.png" width="80" height="46" />
                        </div>
                    </div>
                </div>
            </div>
        </div>  -->
    </div> 
</footer> 
<!--{# Debut pied de page#}
<script src="{{ asset('js/jquery-1.10.0.min.js') }}"></script>
<script src="{{ asset('js/jquery-1.7.1.min.js') }}"></script>
<script src="{{ asset('js/bootstrap.js') }}"></script>
<script src="{{ asset('js/modernizr.custom.28468.js') }}"></script>
<script src="{{ asset('js/jquery.cslider.js') }}"></script> 
<script type="text/javascript">
$(function () {
    $('#da-slider').cslider({
        autoplay: true,
        bgincrement: 450
    });
});
</script>
{% block javascripts %}{% endblock %}-->

<!--
            <ul>
                <li><a href="#">À propos</a></li>
                <li><a href="#">Accueil</a></li>
                <li><a href="#">Droits d&#39;auteur</a></li>
                <li><a href="#">Conditions d&#39;utilisation</a></li>
                <li><a href="#">Politique de Confidentialité</a></li>
                <li> <a href="#">Contactez nous</a></li>

            </ul>-->