<form name="editForm" role="form" novalidate>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myClientLabel"> Detail CatProduit</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.catProduit.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   ng-model="vm.catProduit.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_lastName">Nom catégorie : </label>
            <input type="text" class="form-control" name="lastName" id="field_lastName"
                   ng-model="vm.catProduit.nomCatProduit"  readonly />
        </div>
       
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
    </div>
</form>
