<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myClientLabel"> Detail Commentaire</h4>
    </div>
    <div class="modal-body">

        <div class="form-group">
            <label class="control-label" for="field_commCom">Commentaire: </label>
            <textarea rows="3" class="form-control" name="commCom" id="field_commCom"
                   ng-model="vm.commentaire.commCom" ></textarea>
        </div>
  
                 
        <div class="form-group">
            <label class="control-label" for="field_name">Nom Produit: </label>
            <select name="produit" id="idProduit" class="form-control" ng-model="vm.commentaire.produit" ng-options="produit as produit.nomProduit for produit in produits" required="true" >
                <option value="">Veuillez sélectionner un produit </option>      
            </select>
                   
        </div>


    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
